@using Microsoft.AspNetCore.Identity
@using PlanSuite.Models.Persistent
@using PlanSuite.Models.Temporary
@using PlanSuite.Utility
@using System.Web
@inject UserManager<ApplicationUser> UserManager
@model ChangelogViewModel
@{
    ViewData["Title"] = "Changelog";
    int logCount = Model.Changelogs.Count;
    ApplicationUser user = await UserManager.GetUserAsync(User);
}
<h1>Changelog</h1>

@*@if(logCount > 0)
{
    foreach(var changeLog in Model.Changelogs)
    {
        <hr />
        <h3>@string.Format(Model.Localisation.Get(user, "VERSION"), changeLog.VersionName)</h3>
        <br />
        <h5>@Model.Localisation.Get(user, "ADDITIONS")</h5>
        <p>@Html.Raw(Markdown.Parse(changeLog.Additions))</p>
        <br />
        <h5>@Model.Localisation.Get(user, "CHANGES")</h5>
        <p>@Html.Raw(Markdown.Parse(changeLog.Changes))</p>
        <br />
        <h5>@Model.Localisation.Get(user, "FIXES")</h5>
        <p>@Html.Raw(Markdown.Parse(changeLog.Fixes))</p>
    }
}*@