@using Microsoft.AspNetCore.Identity
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using PlanSuite.Models.Persistent
@using PlanSuite.Services
@using System.Security.Claims
@using PlanSuite.Utility
@using PlanSuite.Enums
@using static PlanSuite.Models.Temporary.HomeViewModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model PlanSuite.Models.Temporary.HomeViewModel
@{
    if (SignInManager.IsSignedIn(User))
    {
        ViewData["Title"] = "Home Page";
    }
    else
    {
        ViewData["Title"] = "Project management for everyone";
    }
    int projectCount = Model.OwnedProjects.Count + Model.MemberProjects.Count;
    int taskCount = Model.DueTasks.Count;

    ApplicationUser user = await UserManager.GetUserAsync(User);
    OrganisationErrorCode orgStatusCode = (OrganisationErrorCode)UrlUtility.GetUrlRouteInt(Context.Request, "orgStatus");
    List<ProjectModel> existingProjects = new List<ProjectModel>();

    var budgetTypes = user.GetDropdownItemsFromEnum(new ProjectBudgetType());
    // TODO: find a better way to do this, preferably loop through existing enums
    List<SelectListItem> budgetUnits = new List<SelectListItem>();
    budgetUnits.Add(new SelectListItem()
    {
        Value = "None",
        Text = Model.Localisation.Get(user, "NONE")
    });

    var currencyUnits = CurrencyTools.GetAllSymbols();
    foreach(var unit in currencyUnits)
    {
        if(string.IsNullOrEmpty(unit) || unit == "&ZeroWidthSpace")
        {
            continue;
        }

        var selectItem = new SelectListItem();
        selectItem.Text = unit;
        selectItem.Value = unit;
        budgetUnits.Add(selectItem);
    }
}

<script type="module" src="~/js/home/index.js" asp-append-version="true"></script>

@if (SignInManager.IsSignedIn(User))
{
    if (orgStatusCode > OrganisationErrorCode.Success)
    {
        string errorMessage = Model.Localisation.Get(user, "UNKNOWN_ERROR");
        switch (orgStatusCode)
        {
            case OrganisationErrorCode.IsFreeTier:
            case OrganisationErrorCode.IsPlusTier:
                errorMessage = Model.Localisation.Get(user, "ORG_CREATE_ERROR_ORG_LIMIT");
                break;
            default:
                errorMessage = Model.Localisation.Get(user, "ORG_CREATE_ERROR_SERVER");
                break;
        }
                                        <div class="ps-alert ps-alert-error mt-3"><i class="bi bi-exclamation-triangle"></i> @errorMessage</div>
    }

    string header = "Home";//@Model.Localisation.Get(user, "HOME");
    if (Model.ViewingOrganisation != null)
    {
        header = Model.ViewingOrganisation.Name;
    }


    <div class="ps-page-title">
        @header
        <div class="btn-group ps-home-add-btn">
            @if (Model.CurrentOrganisationMembership != null)
            {
                if (Model.CurrentOrganisationMembership.Role >= ProjectRole.Admin)
                {
                    <button type="button" class="btn ps-btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#createProjectModal"><i class="bi bi-plus-circle"></i> Project</button>
                }
            }
            else
            {
                <button type="button" class="btn ps-btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#createProjectModal">
                    <i class="bi bi-plus-circle"></i> Project
                </button>
            }
            @if (user != null && user.PaymentTier >= PaymentTier.Plus && Model.CurrentOrganisationMembership == null)
            {
                <button type="button" class="btn ps-btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createOrganisationModal"><i class="bi bi-plus-circle"></i> Organisation</a></li>
                </ul>
            }
        </div>
    </div>

    @* Create New Project *@
    <div class="modal fade" id="createProjectModal" tabindex="-1" aria-labelledby="createProjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createProjectLabel">@Model.Localisation.Get(user, "CREATE_NEW_PROJECT")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-controller="Home" asp-action="Create">
                    @Html.HiddenFor(model => Model.CreateProject.OrganisationId)
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.CreateProject.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.CreateProject.Name, new { htmlAttributes = new { @class = "form-label" } })
                            @Html.ValidationMessageFor(model => model.CreateProject.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.CreateProject.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.CreateProject.Description, new { htmlAttributes = new { @class = "form-label" } })
                            @Html.ValidationMessageFor(model => model.CreateProject.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.CreateProject.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.CreateProject.DueDate, new { htmlAttributes = new { @class = "form-label" } })
                            @Html.ValidationMessageFor(model => model.CreateProject.DueDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.CreateProject.Client, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.CreateProject.Client, new { htmlAttributes = new { @class = "form-label" } })
                            @Html.ValidationMessageFor(model => model.CreateProject.Client, "", new { @class = "text-danger" })
                        </div>
                        <div class="row form-floating mb-3">
                            <div class="col-auto">
                                @{
                                    
                                }
                                @Html.LabelFor(model => model.CreateProject.BudgetType, Model.Localisation.Get(user, "BUDGET_TYPE"), new { htmlAttributes = new { @class = "form-label" } })
                                @Html.DropDownListFor(model => model.CreateProject.BudgetType, budgetTypes.ToArray(), new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.CreateProject.BudgetType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-auto">
                                @Html.LabelFor(model => model.CreateProject.Budget, Model.Localisation.Get(user, "BUDGET"), new { htmlAttributes = new { @class = "form-label" } })
                                @Html.EditorFor(model => model.CreateProject.Budget, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CreateProject.Budget, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-auto">
                                @Html.LabelFor(model => model.CreateProject.BudgetUnit, Model.Localisation.Get(user, "BUDGET_UNIT"), new { htmlAttributes = new { @class = "form-label" } })
                                @Html.DropDownListFor(model => model.CreateProject.BudgetUnit, budgetUnits.ToArray(), new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.CreateProject.BudgetUnit, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn ps-btn-secondary" data-bs-dismiss="modal">@Model.Localisation.Get(user, "CLOSE")</button>
                            <button type="submit" class="btn ps-btn-primary">@Model.Localisation.Get(user, "CREATE_PROJECT")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Edit Existing Project *@
    <div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="editProjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProjectLabel">EDIT_PROJECT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-controller="Home" asp-action="Edit">
                    @Html.HiddenFor(model => model.EditProject.Id)
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.EditProject.Name, new { htmlAttributes = new { @class = "form-control", id = "editProjName" } })
                            @Html.LabelFor(model => model.EditProject.Name, new { htmlAttributes = new { @class = "form-label" } })
                            @Html.ValidationMessageFor(model => model.EditProject.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.EditProject.Description, new { htmlAttributes = new { @class = "form-control", id = "editProjDesc" } })
                            @Html.LabelFor(model => model.EditProject.Description, new { htmlAttributes = new { @class = "form-label" } })
                            @Html.ValidationMessageFor(model => model.EditProject.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.EditProject.DueDate, new { htmlAttributes = new { @class = "form-control", id = "editProjDate" } })
                            @Html.LabelFor(model => model.EditProject.DueDate, new { htmlAttributes = new { @class = "form-label" } })
                            @Html.ValidationMessageFor(model => model.EditProject.DueDate, "", new { @class = "text-danger" })
                        </div>
                        @if (Model.CurrentOrganisationMembership != null)
                        {
                            if (Model.CurrentOrganisationMembership.Role >= ProjectRole.Owner)
                            {
                                <div class="form-floating mb-3">
                                    <select id="editProjOrg" class="form-control" asp-for="EditProject.Organisation" asp-items="@(new SelectList(Model.Organisations, "Value", "Name"))">
                                        <option value="0">@Model.Localisation.Get(user, "NONE")</option>
                                    </select>
                                    @Html.LabelFor(model => model.EditProject.Organisation, new { htmlAttributes = new { @class = "form-label" } })
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.EditProject.Organisation)
                            }
                        }
                        else
                        {
                            <div class="form-floating mb-3">
                                <select id="editProjOrg" class="form-control" asp-for="EditProject.Organisation" asp-items="@(new SelectList(Model.Organisations, "Value", "Name"))">
                                    <option value="0">@Model.Localisation.Get(user, "NONE")</option>
                                </select>
                            </div>
                        }
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.EditProject.Client, new { htmlAttributes = new { @class = "form-control", id = "editProjClient" } })
                            @Html.LabelFor(model => model.EditProject.Client, new { htmlAttributes = new { @class = "form-label" } })
                            @Html.ValidationMessageFor(model => model.EditProject.Client, "", new { @class = "text-danger" })
                        </div>
                        <div class="row form-floating mb-3">
                            <div class="col-auto">
                                @Html.LabelFor(model => model.EditProject.BudgetType, Model.Localisation.Get(user, "BUDGET_TYPE"), new { htmlAttributes = new { @class = "form-label" } })
                                @Html.DropDownListFor(model => model.EditProject.BudgetType, budgetTypes.ToArray(), new { @class = "form-select", id = "editProjBudgetType" })
                                @Html.ValidationMessageFor(model => model.EditProject.BudgetType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-auto">
                                @Html.LabelFor(model => model.EditProject.Budget, Model.Localisation.Get(user, "BUDGET"), new { htmlAttributes = new { @class = "form-label" } })
                                @Html.EditorFor(model => model.EditProject.Budget, new { htmlAttributes = new { @class = "form-control", id = "editProjBudget" } })
                                @Html.ValidationMessageFor(model => model.EditProject.Budget, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-auto">
                                @Html.LabelFor(model => model.EditProject.BudgetUnit, Model.Localisation.Get(user, "BUDGET_UNIT"), new { htmlAttributes = new { @class = "form-label" } })
                                @Html.DropDownListFor(model => model.EditProject.BudgetUnit, budgetUnits.ToArray(), new { @class = "form-select", id = "editProjBudgetUnit" })
                                @Html.ValidationMessageFor(model => model.EditProject.BudgetUnit, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn ps-btn-secondary" data-bs-dismiss="modal">@Model.Localisation.Get(user, "CLOSE")</button>
                            <button type="submit" class="btn ps-btn-primary">@Model.Localisation.Get(user, "SAVE_CHANGES")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Delete Existing Project *@
    <div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProjectLabel">DELETE_PROJECT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-controller="Home" asp-action="Delete">
                    @Html.HiddenFor(model => model.DeleteProject.Id)
                    @Html.HiddenFor(model => model.DeleteProject.Name)
                    <div class="modal-body">
                        <div class="form-floating">
                            @Html.EditorFor(model => model.DeleteProject.Name, new { htmlAttributes = new { @class = "form-control", id = "confirmDeleteProjName", onkeyup = "onDeleteInput('deleteButton', 'DeleteProject_Name', 'confirmDeleteProjName')" } })
                            @Html.LabelFor(model => model.DeleteProject.Name, "Enter the project name to be able to delete it", new { htmlAttributes = new { @class = "form-label" } })
                            @Html.ValidationMessageFor(model => model.DeleteProject.Name, "", new { @class = "text-danger" })
                            <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn ps-btn-secondary" data-bs-dismiss="modal">@Model.Localisation.Get(user, "CLOSE")</button>
                            <button type="submit" class="btn ps-btn-danger" id="deleteButton" disabled>@Model.Localisation.Get(user, "DELETE_PROJECT")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* View Card *@
    <partial name="SubViews/_TaskView" />

    <div class="container">
        <h3 class="ps-page-title"><i class="bi bi-list-task"></i> Tasks Due Soon</h3>
        <hr>
        @if (taskCount > 0)
        {
            <div class="row" id="MyTask">
                @if (Model.DueTasks.Count > 0)
                {
                    foreach (var item in Model.DueTasks.OrderBy(t => t.CardDueDate))
                    {
                        Console.WriteLine($"Task {item.CardName} {item.CardDueDate}");
                        <div class="ps-task-item" id="DueTask_@item.Id">
                            <input type="hidden" id="TaskId" value="@item.Id"/>
                            <input class="form-check-input ps-task-checkbox" type="checkbox" id="TaskCheckbox_@item.Id">
                            <span class="cursor-pointer" id="DueTaskText_@item.Id" data-bs-toggle="modal" data-bs-target="#viewCardModal">@item.CardName</span>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <p>@Model.Localisation.Get(user, "NO_TASKS")</p>
        }

        <h3 class="ps-page-title"><i class="bi bi-clipboard"></i> Recent Projects</h3>
        <hr>
        @if (projectCount > 0)
        {
            <div class="row text-center" id="MyProjects">
                @if (Model.OwnedProjects.Count > 0)
                {
                    foreach (var item in Model.OwnedProjects)
                    {
                        existingProjects.Add(item);
                        // get org name
                        string organisationName = string.Empty;
                        if (item.OrganisationId > 0 && !string.IsNullOrEmpty(item.OrganisationName))
                        {
                            organisationName = $"<a href=\"/?orgId={item.OrganisationId}\">{item.OrganisationName}</a>";
                        }
                        string projectClient = string.Empty;
                        if(!string.IsNullOrEmpty(item.Client))
                        {
                            projectClient = item.Client;
                        }
                        decimal projectBudget = 0m;
                        if(item.Budget > 0m)
                        {
                            projectBudget = item.Budget;
                        }

                        <div class="col-sm-6" id="OwnedProject_@item.Id">
                            <input type="hidden" id="projectId" value="@item.Id" />
                            <input type="hidden" id="projectName" value="@item.Name" />
                            <input type="hidden" id="projectDesc" value="@item.Description" />
                            <input type="hidden" id="projectDate" value="@item.DueDate?.ToUniversalTime()" />
                            <input type="hidden" id="projectOrganisation" value="@item.OrganisationId" />
                            <input type="hidden" id="projectClient" value="@item.Client" />
                            <input type="hidden" id="projectBudget" value="@item.Budget" />
                            <input type="hidden" id="projectBudgetType" value="@item.ProjectBudgetType" />
                            <input type="hidden" id="projectBudgetUnit" value="@item.BudgetMonetaryUnit" />
                            <input type="hidden" id="projectUsedBudget" value="@item.ProjectUsedBudget" />
                            <div class="card p-1 mt-2" style="height:12rem;">
                                <div>
                                    <h5 class="card-title m-1">@item.Name</h5>
                                    <h6 class="card-subtitle m-1 mb-2 text-muted">
                                        <strong>Created Date:</strong> @user.FormatDate(item.CreatedDate)<br>
                                        <strong>Due Date:</strong> @user.FormatDate(item.DueDate)<br>
                                        @if(organisationName.Length > 0)
                                        {
                                            <strong>Organisation:</strong> @Html.Raw(organisationName)
                                            <br>
                                        }
                                        @if (projectClient.Length > 0)
                                        {
                                            <strong>Client:</strong> @projectClient<br>
                                        }
                                        @if(item.Budget > 0.0m)
                                        {
                                            string danger = string.Empty;
                                            Console.WriteLine($"{item.ProjectUsedBudget} > {item.Budget}");
                                            if (item.ProjectUsedBudget > item.Budget)
                                            {
                                                danger = "class=\"text-danger\"";
                                            }

                                            <span @Html.Raw(danger)><strong>Budget:</strong> @user.FormatBudget(item.ProjectUsedBudget, item.BudgetMonetaryUnit, (ProjectBudgetType)item.ProjectBudgetType)<text>/</text>@user.FormatMaxBudget(item.Budget, item.BudgetMonetaryUnit, (ProjectBudgetType)item.ProjectBudgetType)</span>
                                            <br>
                                        }
                                    </h6>
                                    <p class="card-text m-1">@item.Description</p>
                                    <a asp-controller="Project" asp-action="Index" asp-route-id="@item.Id" class="btn btn-sm ps-btn-primary m-1 mb-1">View</a>
                                    <button type="button" class="btn btn-sm ps-btn-secondary m-1 mb-1" data-bs-toggle="modal" data-bs-target="#editProjectModal" id="passButtonInfoBtn_@item.Id">Edit</button>
                                    <button type="button" class="btn btn-sm ps-btn-danger m-1 mb-1" data-bs-toggle="modal" data-bs-target="#deleteProjectModal" id="passDeleteButtonInfoBtn_@item.Id">Delete</button>
                                </div>
                            </div>
                        </div>
                    }
                }
                @if (Model.MemberProjects.Count > 0)
                {
                    foreach (var item in Model.MemberProjects)
                    {
                        if (!existingProjects.Contains(item))
                        {
                            existingProjects.Add(item);
                            // get org name
                            string organisationName = "N/A";
                            if (item.OrganisationId > 0 && !string.IsNullOrEmpty(item.OrganisationName))
                            {
                                organisationName = $"<a href=\"/?orgId={item.OrganisationId}\">{item.OrganisationName}</a>";
                            }

                            string projectClient = string.Empty;
                            if (!string.IsNullOrEmpty(item.Client))
                            {
                                projectClient = item.Client;
                            }
                            decimal projectBudget = 0m;
                            if (item.Budget > 0m)
                            {
                                projectBudget = item.Budget;
                            }

                            if (Model.ViewingOrganisation != null)
                            {
                                organisationName = Model.ViewingOrganisation.Name;
                            }

                            <div class="col-sm-6" id="MemberProject_@item.Id">
                                <input type="hidden" id="projectId" value="@item.Id" />
                                <input type="hidden" id="projectName" value="@item.Name" />
                                <input type="hidden" id="projectDesc" value="@item.Description" />
                                <input type="hidden" id="projectDate" value="@item.DueDate?.ToUniversalTime()" />
                                <input type="hidden" id="projectOrganisation" value="@item.OrganisationId" />
                                <input type="hidden" id="projectClient" value="@item.Client" />
                                <input type="hidden" id="projectBudget" value="@item.Budget" />
                                <input type="hidden" id="projectBudgetType" value="@item.(ProjectBudgetType)" />
                                <input type="hidden" id="projectBudgetUnit" value="@item.BudgetMonetaryUnit" />
                                <input type="hidden" id="projectUsedBudget" value="@item.ProjectUsedBudget" />
                                <div class="card p-1 mt-2" style="height:12rem;">
                                    <div>
                                        <h5 class="card-title m-1">@item.Name</h5>
                                        <h6 class="card-subtitle m-1 mb-2 text-muted">
                                        <strong>Created Date:</strong> @user.FormatDate(item.CreatedDate)<br>
                                        <strong>Due Date:</strong> @user.FormatDate(item.DueDate)<br>
                                        @if(!string.IsNullOrEmpty(item.OrganisationName))
                                        {
                                            <strong>Organisation:</strong> @Html.Raw(item.OrganisationName)<br>
                                        }
                                        @if(!string.IsNullOrEmpty(item.Client))
                                        {
                                            <strong>Client:</strong> @item.Client<br>
                                        }
                                        @if (item.Budget > 0.0m)
                                        {
                                            string danger = string.Empty;
                                                Console.WriteLine($"{item.ProjectUsedBudget} > {item.Budget}");
                                            if (item.ProjectUsedBudget > item.Budget)
                                            {
                                                danger = "class=\"text-danger\"";
                                            }

                                            <span @Html.Raw(danger)><strong>Budget:</strong> @user.FormatBudget(item.ProjectUsedBudget, item.BudgetMonetaryUnit, (ProjectBudgetType)item.ProjectBudgetType)<text>/</text>@user.FormatMaxBudget(item.Budget, item.BudgetMonetaryUnit, (ProjectBudgetType)item.ProjectBudgetType)</span>
                                        }
                                    </h6>
                                        <p class="card-text m-1">@item.Description</p>
                                        <a asp-controller="Project" asp-action="Index" asp-route-id="@item.Id" class="btn btn-sm ps-btn-primary m-1 mb-1">View</a>
                                        @if (Model.CurrentOrganisationMembership != null && Model.CurrentOrganisationMembership.Role >= PlanSuite.Enums.ProjectRole.Admin)
                                        {
                                            <button type="button" class="btn btn-sm ps-btn-secondary m-1 mb-1" data-bs-toggle="modal" data-bs-target="#editProjectModal" id="passButtonInfoBtn_@item.Id">Edit</button>
                                        }
                                        @if (Model.CurrentOrganisationMembership != null && Model.CurrentOrganisationMembership.Role >= PlanSuite.Enums.ProjectRole.Admin)
                                        {
                                            <button type="button" class="btn btn-sm ps-btn-danger m-1 mb-1" data-bs-toggle="modal" data-bs-target="#deleteProjectModal" id="passDeleteButtonInfoBtn_@item.Id">Delete</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        }
        else
        {
            <p>@Model.Localisation.Get(user, "NO_PROJECTS")</p>
        }
    </div>
    @if (user != null && user.PaymentTier >= PaymentTier.Plus)
    {
        <partial name="SubViews/_CreateOrganisation" />
    }
}
else
{
    <partial name="SubViews/Landing" />
}
