@using Microsoft.AspNetCore.Identity
@using PlanSuite.Models.Persistent
@using PlanSuite.Services
@inject UserManager<ApplicationUser> UserManager
@inject LocalisationService Localisation
@model PlanSuite.Models.Temporary.ContactSalesViewModel
@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = Localisation.Get(user, "CONTACT_SALES_TITLE");
}

<style media="(max-width: 767px)">
    main {
        min-height:130vh;
    }
</style>

<style media="(min-width: 768px)">
    main {
        min-height: 100vh;
    }
</style>

<div class="sales-background">
    <h1 class="sales-header">@Localisation.Get(user, "SALES_HEADER")</h1>
    <div class="row">
        <div class="col-lg">
            <div id="sales-image">
                <img src="~/img/people-filling-out-tablet.png" id="sale-image" alt="Person filling out form on tablet">
            </div>
            <p class="sales-text">@Localisation.Get(user, "SALES_TEXT_1")</p>
        </div>
        <div class="col zindex-2">
            <div class="sales-modal">
                <form asp-controller="Home" asp-action="OnSalesContact" method="post" id="salesContactForm">
                    <input type="hidden" asp-for="ContactSales.Token" />
                    <div class="form-floating mb-3">
                        <p class="sales-modal-required-info">@Localisation.Get(user, "SALES_MODAL_REQUIRED_INFO")</p>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md">
                            <label asp-for="ContactSales.FirstName" class="form-label">@Localisation.Get(user, "FIRST_NAME") <span class="sales-modal-required-info">*</span></label>
                            <input type="text" asp-for="ContactSales.FirstName" class="form-control" aria-required="true" />
                            <span asp-validation-for="ContactSales.FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-md">
                            <label asp-for="ContactSales.LastName" class="form-label">@Localisation.Get(user, "LAST_NAME") <span class="sales-modal-required-info">*</span></label>
                            <input type="text" asp-for="ContactSales.LastName" class="form-control" aria-required="true" />
                            <span asp-validation-for="ContactSales.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md">
                            <label asp-for="ContactSales.Email" class="form-label">@Localisation.Get(user, "COMPANY_EMAIL") <span class="sales-modal-required-info">*</span></label>
                            <input type="email" asp-for="ContactSales.Email" class="form-control" aria-required="true" />
                            <span asp-validation-for="ContactSales.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-md">
                            <label asp-for="ContactSales.PhoneNumber" class="form-label">@Localisation.Get(user, "PHONE_NO")</label>
                            <input type="tel" asp-for="ContactSales.PhoneNumber" class="form-control" aria-required="true" />
                            <span asp-validation-for="ContactSales.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ContactSales.JobTitle" class="form-label">@Localisation.Get(user, "JOB_TILE")</label>
                        <input type="text" asp-for="ContactSales.JobTitle" class="form-control" aria-required="true" />
                        <span asp-validation-for="ContactSales.JobTitle" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ContactSales.Message" class="form-label">@Localisation.Get(user, "CONTACT_SALES_LABEL_1") <span class="sales-modal-required-info">*</span></label>
                        <textarea class="form-control" rows="3" asp-for="ContactSales.Message" placeholder="@Localisation.Get(user, "CONTACT_SALES_LABEL_2")"></textarea>
                        <span asp-validation-for="ContactSales.Message" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn ps-btn-primary">
                            @Localisation.Get(user, "SUBMIT")
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js?render=@Configuration["CaptchaKey"]'></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@Configuration["CaptchaKey"]', { action: 'contact' }).then(function (token) {
                $("#ContactSales_Token").val(token);
            });
        });

    </script>
}