@using Microsoft.AspNetCore.Identity
@using PlanSuite.Models.Persistent
@using PlanSuite.Utility
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="url" content="https://plan-suite.com/" />
    <meta name="og:url" content="https://plan-suite.com/" />
    <meta name="twitter:url" content="https://plan-suite.com/" />

    <meta name="og:site_name" content="plan-suite.com" />

    @if (!Context.Request.Path.StartsWithSegments("/blog", StringComparison.InvariantCultureIgnoreCase))
    {
        <title>@ViewData["Title"] - @ApplicationInfo.APP_NAME</title>
        <meta name="og:title" content="@ViewData["Title"] - @ApplicationInfo.APP_NAME" />
        <meta name="twitter:title" content="@ViewData["Title"] - @ApplicationInfo.APP_NAME" />
    }
    else
    {
        <title>@ViewData["Title"]</title>
        <meta name="og:title" content="@ViewData["Title"]" />
        <meta name="twitter:title" content="@ViewData["Title"]" />
    }
    
    @{
        string type = ViewData["Type"] as string;
        if (!string.IsNullOrEmpty(type))
        {
            <meta name="og:type" content="@type" />
        }

        string image = ViewData["Image"] as string;
        if (!string.IsNullOrEmpty(image))
        {
            <meta name="og:image" content="@image" />
        }
        else
        {
            <meta name="og:image" content="/img/og_image.png" />
        }

        string description = ViewData["Description"] as string;
        if (!string.IsNullOrEmpty(description))
        {
            <meta name="description" content="@description" />
            <meta name="og:description" content="@description" />
            <meta name="twitter:description" content="@description" />
        }
        else
        {
            <meta name="description" content="Plan Suite: The innovative project management tool that simplifies planning and execution. Streamline your workflow and improve productivity. Try it now!" />
            <meta name="og:description" content="Plan Suite: The innovative project management tool that simplifies planning and execution. Streamline your workflow and improve productivity. Try it now!" />
            <meta name="twitter:description" content="Plan Suite: The innovative project management tool that simplifies planning and execution. Streamline your workflow and improve productivity. Try it now!" />
        }

        string author = ViewData["author"] as string;
        if (!string.IsNullOrEmpty(author))
        {
            <meta name="author" content="@author" />
        }

        string keywords = ViewData["Keywords"] as string;
        if (!string.IsNullOrEmpty(author))
        {
            <meta name="keywords" content="@keywords" />
        }
        else
        {
            <meta name="keywords" content="project management software, task management, team collaboration, project tracking, productivity tools, Gantt charts, Kanban boards, milestone tracking, time tracking, budget tracking, project planning, project scheduling, team communication, resource management, project reporting">
        }

        string url = ViewData["Url"] as string;
        if (!string.IsNullOrEmpty(author))
        {
            <meta name="og:url" content="@Context.Request.Host/@url" />
        }
    }
    <meta name="fb:app_id" content="822265182087480"/>
    <link rel='icon' type='image/png' href='~/img/icon@32.png'>
    <link rel='icon' sizes='192x192' href='~/img/icon@192.png'>
    <link rel='apple-touch-icon' href='~/img/icon@152.png'>
    <meta name='msapplication-square310x310logo' content='~/img/icon@310.png'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap-icons.css" asp-append-version="true" />
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="~/js/cookie.js" asp-append-version="true"></script>
    <script type="module" src="~/js/localisation.js" asp-append-version="true"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/PlanSuite.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/summernote/dist/css/summernote.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/bundles/site.min.css" asp-append-version="true" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BPF1G2C79K"></script>
        <script>window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-BPF1G2C79K');</script>

        <!-- Global site tag (gtag.js) - Google Ads: 1061717470 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1061717470"></script>
        <script>window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'AW-1061717470');</script>

        <!-- Facebook SDK -->
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '822265182087480',
                    cookie: true,
                    xfbml: true,
                    version: 'v15.0'
                });

                FB.AppEvents.logPageView();

            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        @if (user == null || (user != null && user.PaymentTier < PlanSuite.Enums.PaymentTier.Plus))
        {
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1119258824927173"
                    crossorigin="anonymous"></script>
        }

    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navagation-bar">
            <div class="container-fluid">
                @if(!Context.Request.Path.StartsWithSegments("/Identity/Account/ConfirmEmail", StringComparison.InvariantCultureIgnoreCase)
                && !Context.Request.Path.StartsWithSegments("/finish-registration", StringComparison.InvariantCultureIgnoreCase)
                && !Context.Request.Path.StartsWithSegments("/create-organisation", StringComparison.InvariantCultureIgnoreCase)
                && !Context.Request.Path.StartsWithSegments("/welcome", StringComparison.InvariantCultureIgnoreCase))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ApplicationInfo.APP_NAME</a>
                    @if (user == null)
                    {
                        <a class="btn ps-get-started ps-navbar-get-started" href="/Identity/Account/Register">Get Started</a>
                    }
                    else if (user != null && user.PaymentTier < PlanSuite.Enums.PaymentTier.Plus)
                    {
                        <a class="btn ps-get-started ps-navbar-get-started" asp-controller="Join" asp-action="Upgrade">Upgrade</a>
                    }
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light @Html.ActiveClass("Home")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <partial name="_MenuLoggedIn" />
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                }
                else
                {
                    <a class="navbar-brand" href="#">@ApplicationInfo.APP_NAME</a>
                }
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <partial name="_Footer" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/bundles/dep.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui-touch-punch/dist/jquery.ui.touch-punch.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
