@model PlanSuite.Models.Temporary.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mb-5 mt-5">
    <div class="text-center"><img src="@Model.Image" alt="@Model.ImageAlt" class="ps-img-center ps-img-small mb-5"/></div>
    <h1 class="text-center">@ViewData["Title"].ToString().ToUpper() - @Model.Code</h1>
    <p class="text-muted text-center">@Model.ErrorMessage</p>
    @if (Model.ShowRequestId)
    {
        <p class="text-muted text-center"><strong>Request ID:</strong> @Model.RequestId</p>
        <p class="text-muted text-center"><strong>Error Code:</strong> @Model.ErrorCode</p>
    }
</div>