@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using PlanSuite.Enums
@using PlanSuite.Models.Persistent
@using PlanSuite.Services;
@using PlanSuite.Utility
@using System.Web
@inject UserManager<ApplicationUser> UserManager
@inject LocalisationService Localisation
@model PlanSuite.Models.Temporary.ProjectViewModel
@{
    ViewData["Title"] = Model.Project.Name;
    ApplicationUser user = await UserManager.GetUserAsync(User);
    ProjectIndexView indexView = (ProjectIndexView)UrlUtility.GetUrlRouteInt(Context.Request, "view");
    Model.MarkComplete.ProjectId = Model.Project.Id;
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet" />
<script type="module" src="~/js/project/index.js" asp-append-version="true"></script>

<div class="container">

    <input type="hidden" 
           id="RequestVerificationToken"
           name="RequestVerificationToken" 
           value="@GetAntiXsrfRequestToken()">

    <h1 class="text-center">@Model.Project.Name</h1>
    <hr />
    <div class="ps-alert ps-alert-success d-none" id="addUserSuccess" role="alert">@Localisation.Get(user, "ADD_USER_SUCCESS")</div>
    <div class="ps-alert ps-alert-danger d-none" id="addUserFail" role="alert">@Localisation.Get(user, "ADD_USER_FAIL")</div>
    @if(Model.Project.ProjectCompleted == true)
    {
        <div class="ps-alert ps-alert-warning text-center" role="alert">@Localisation.Get(user, "ALERT_PROJECT_COMPLETE")</div>
    }
    <h4 class="text-muted">@Model.Project.Description</h4>
    <p class="text-muted"><strong>Project Created:</strong> @Model.Project.CreatedDate<br /><strong>Project Due Date:</strong>
        @if(Model.Project.DueDate != null)
        {
             @Model.Project.DueDate
        }
        else 
        {
            <text>N/A</text>
        }
    <br /><strong>Project Organisation:</strong>
        @if(Model.Organisation != null)
        {
             @Model.Organisation.Name
        }
        else 
        {
            <text>N/A</text>
        }
        @if (user.PaymentTier >= PaymentTier.Plus && Model.Project.Budget > 0.0m)
        {
            <br />
            <strong>Project Budget:</strong> @user.FormatBudget(Model.UsedBudget, Model.Project.BudgetMonetaryUnit, Model.Project.BudgetType)<text>/</text>@user.FormatMaxBudget(Model.Project.Budget, Model.Project.BudgetMonetaryUnit, Model.Project.BudgetType)
            //@if(Mode)
        }
    </p>

    @* Add Column *@
    <div class="modal fade" id="addColumnModal" tabindex="-1" aria-labelledby="addColumnLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="editProjectLabel"><strong>Add Column:</strong> Name Here</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="Project" asp-action="AddColumn">
                @Html.HiddenFor(model => model.AddColumn.ProjectId)
                <div class="modal-body">
                    <div class="form-floating">
                        @Html.EditorFor(model => model.AddColumn.Name, new { htmlAttributes = new { @class = "form-control", id = "editProjName" } })
                        @Html.LabelFor(model => model.AddColumn.Name, new { htmlAttributes = new { @class = "form-label" } })
                        @Html.ValidationMessageFor(model => model.AddColumn.Name, "", new { @class = "text-danger" })
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn ps-btn-secondary" data-bs-dismiss="modal">@Localisation.Get(user, "CLOSE")</button>
                        <button type="submit" class="btn ps-btn-primary">@Localisation.Get(user, "SAVE_COLUMN")</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>

    <input type="hidden" id="projectId" value="@Model.Project.Id"/>
    <input type="hidden" id="userId" value="@Model.UserId"/>

    @* View Card *@
    <partial name="SubViews/_ViewCard" />

    @* Project Members *@
    <partial name="SubViews/_ProjectMembers" />

    @* Leave Project *@
    <partial name="SubViews/_LeaveProject" />

    @* Add Member *@
    <partial name="SubViews/_AddMember" />

    @* Add Task *@
    <partial name="SubViews/_AddTask" />

    @* Milestones *@
    @if(Model.PaymentTier >= PaymentTier.Plus)
    {
        <partial name="SubViews/_ListMilestones" />
        <partial name="SubViews/_AddMilestone" />
        <partial name="SubViews/_EditMilestone" />
        <partial name="SubViews/_DeleteMilestone" />
        <partial name="SubViews/_PieChart" />
    }

    @* Project Navbar *@
    <div class="col col-sm-10">
        <button type="button" class="btn m-1 ps-btn-success float-start" data-bs-toggle="modal" data-bs-target="#addColumnModal" id="addColumnBtn"><i class="bi bi-layout-three-columns"></i> @Localisation.Get(user, "ADD_COLUMN")</button>
        @if(Model.PaymentTier >= PaymentTier.Plus)
        {
            <button type="button" class="btn m-1 ps-btn-secondary" data-bs-toggle="modal" data-bs-target="#milestonesModal" id="listMilestonesBtn"><i class="bi bi-signpost"></i> @Localisation.Get(user, "MILESTONES")</button>
        }
        @if(Model.ProjectRole >= PlanSuite.Enums.ProjectRole.Admin)
        {
            <form style="display: inline;" method="post" asp-controller="Project" asp-action="MarkComplete">
                @Html.HiddenFor(model => Model.MarkComplete.ProjectId)
                @if(Model.Project.ProjectCompleted)
                {
                    <button type="submit" class="btn m-1 ps-btn-secondary"><i class="bi bi-door-open"></i> @Localisation.Get(user, "MARK_ACTIVE")</button>
                }
                else
                {
                    <button type="submit" class="btn m-1 ps-btn-secondary"><i class="bi bi-door-closed"></i> @Localisation.Get(user, "MARK_COMPLETE")</button>
                }
            </form>
        }
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn m-1 ps-btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i> @Localisation.Get(user, "MORE")</button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#projectMembersModal" id="seeMembersBtn"><i class="bi bi-people"></i> @Localisation.Get(user, "SEE_MEMBERS")</a></li>
                @if (Model.PaymentTier >= PaymentTier.Plus)
                {
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#pieChartModel"><i class="bi bi-pie-chart"></i> @Localisation.Get(user, "DATA_VIEW")</a></li>
                }
                @if(Model.ProjectRole >= PlanSuite.Enums.ProjectRole.Admin)
                {
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addMemberModal"><i class="bi bi-person-plus"></i> @Localisation.Get(user, "ADD_MEMBER")</a></li>
                    <li><a class="dropdown-item" asp-controller="Project" asp-action="Logs" asp-route-projectId="@Model.Project.Id"><i class="bi bi-clipboard2-check"></i> @Localisation.Get(user, "AUDIT_LOGS")</a></li>

                    // asp-controller="Project" asp-action="Logs" asp-route-id="@item.Id"
                }
                @if(Model.ProjectRole != PlanSuite.Enums.ProjectRole.Owner)
                {
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#leaveProjectModal"><i class="bi bi-box-arrow-left"></i> @Localisation.Get(user, "LEAVE_PROJECT")</a></li>
                }
            </ul>
        </div>
    </div>
    <ul class="nav nav-tabs">
        @{
            string listActive = string.Empty, cardActive = string.Empty, progressActive = string.Empty;
            switch(indexView)
            {
                default:
                case ProjectIndexView.Cards:
                    cardActive = "active";
                    break;
                case ProjectIndexView.List:
                    listActive = "active";
                    break;
                case ProjectIndexView.Gantt:
                    progressActive = "active";
                    break;
            }
        }
        <li class="nav-item">
            <a class="nav-link ps-link-primary @listActive" asp-controller="Project" asp-action="Index" asp-route-id="@Model.Project.Id" asp-route-view="@((int)ProjectIndexView.List)">@Localisation.Get(user, "LIST")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ps-link-primary @cardActive" asp-controller="Project" asp-action="Index" asp-route-id="@Model.Project.Id" asp-route-view="@((int)ProjectIndexView.Cards)">@Localisation.Get(user, "BOARDS")</a>
        </li>
        @if (Model.PaymentTier >= PaymentTier.Plus)
        {
            <li class="nav-item">
                <a class="nav-link ps-link-primary @progressActive" asp-controller="Project" asp-action="Index" asp-route-id="@Model.Project.Id" asp-route-view="@((int)ProjectIndexView.Gantt)">@Localisation.Get(user, "PROGRESS_VIEW_NAME")</a>
            </li>
        }
    </ul>
    @if(indexView == ProjectIndexView.List)
    {
        <partial name="SubViews/_ListView" />
    }
    else if (indexView == ProjectIndexView.Gantt && Model.PaymentTier >= PaymentTier.Plus)
    {
        <partial name="SubViews/_Gantt" />
    }
    else
    {
        <partial name="SubViews/_CardView" />
    }
   
    <div class="card d-none" id="createCardDiv">
        <div class="card-body">
            <div class="d-grid gap-2">
                <div class="btn btn-outline-dark">
                    <form method="post" asp-controller="Project" asp-action="addcard">
                        @Html.HiddenFor(model => model.AddCard.ColumnId)
                        @Html.HiddenFor(model => model.AddCard.ProjectId)
                        <div class="row">
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.AddCard.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", id = "cardNameField", placeholder = "Card Name" } })
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn ps-btn-primary btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>