@using Microsoft.AspNetCore.Identity
@using PlanSuite.Models.Persistent
@inject UserManager<ApplicationUser> UserManager
@model PlanSuite.Models.Temporary.ProjectViewModel
@{
    int projectId = Model.Project.Id;
    //ApplicationUser user = await UserManager.GetUserAsync(User);
}
<div class="modal fade" id="addMilestoneModal" tabindex="-1" aria-labelledby="addMilestoneLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="addMilestoneLabel">Add Milestone</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form method="post" asp-controller="Project" asp-action="addmilestone">
            <input type="hidden" asp-for="AddMilestone.ProjectId" value="@projectId">
            <div class="modal-body">
                <div class="mb-3">
                    @Html.LabelFor(model => model.AddMilestone.Title, new { htmlAttributes = new { @class = "form-label", } })
                    @Html.EditorFor(model => model.AddMilestone.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AddMilestone.Title, "", new { @class = "text-danger", })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.AddMilestone.Description, new { htmlAttributes = new { @class = "form-label", } })

                    <textarea class="form-control" rows="3" asp-for="AddMilestone.Description"></textarea>
                    @*Html.EditorFor(model => model.AddMilestone.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.AddMilestone.Description, "", new { @class = "text-danger", })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.AddMilestone.Description, new { htmlAttributes = new { @class = "form-label", } })
                    @Html.EditorFor(model => model.AddMilestone.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AddMilestone.Description, "", new { @class = "text-danger", })
                </div>
                <br>
                <div class="modal-footer">
                    <button type="submit" class="btn ps-btn-success">Create</button>
                    <button type="button" class="btn ps-btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>