@using Microsoft.AspNetCore.Identity
@using PlanSuite.Enums
@using PlanSuite.Models.Persistent
@inject UserManager<ApplicationUser> UserManager
@model PlanSuite.Models.Temporary.ProjectViewModel
@{
    int projectId = Model.Project.Id;
    int columnCount = Model.Columns.Count;
    int cardCount = Model.Cards.Count;
    ApplicationUser user = await UserManager.GetUserAsync(User);
}
<div class="modal fade" id="viewCardModal" tabindex="-1" aria-labelledby="viewCardLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <input type="hidden" id="viewCardId" value="0"/>
            <h5 class="modal-title" id="viewCardLabel">Card Name</h5>
            <div class="d-none" id="viewCardEditLabel">
                <div class="form-floating">
                    <input class="form-control text-box single-line" id="viewCardEditLabelEditor" type="text" value=""/>
                    <label class="form-label">Card Name</label>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="viewCardContent">
                    @* Card Details *@
                    <h6>Card Details</h6>
                    <div class="mt-0">
                        <small class="text-muted" id="viewCardDueDate">
                            DUE_DATE_HERE
                        </small><br />
                        <small class="text-muted" id="viewCardPriority">
                            CARD_PRIORITY
                        </small><br />
                        <small class="text-muted" id="viewCardAssignee">
                            CARD_ASSIGNEE
                        </small><br />
                        @if(Model.PaymentTier >= PaymentTier.Plus)
                        {
                            <small class="text-muted" id="viewCardMilestone">
                                CARD_MILESTONE
                            </small>
                        }
                    </div>
                    <hr />
                    @* Card Description *@
                    <h6>Card Description <small class="text-muted">(Click description to modify)</small></h6>
                    <p class="ps-modifiable" id="viewCardText">@Model.Localisation.Get(user,"DEFAULT_CARD_DESC")</p>
                    <div class="d-none" id="viewCardEditText">
                        <div class="mb-3">
                            <textarea class="form-control text-box single-line" id="viewCardEditTextEditor" rows="3" value=""></textarea>
                        </div>
                    </div>
                    @*Card Checklists*@
                    <div id="checklistHolder">
                        <hr/>
                    </div>
                    <div class="d-grid gap-2">
                        <div class="input-group mb-3 d-none" id="addChecklistForm">
                            <input type="text" class="form-control form-control-sm" id="addChecklistInput" placeholder="Checklist Name" aria-label="Checklist Name" aria-describedby="addBtn">
                            <button class="btn ps-btn-white btn-sm" type="button" id="addBtn">Button</button>
                        </div>
                        <button class="btn ps-btn-white btn-sm" type="button" id="addChecklistBtn"><i class="bi bi-card-checklist"></i> Add checklist</button>
                    </div>
                </div>
                <form class="d-none" id="editCardContentForm">
                    <div class="row mb-3">
                        <legend class="col-form-label-sm">Assignee</legend>
                        <div class="col-sm-10">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="assignee"></select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <legend class="col-form-label-sm">Due Date</legend>
                        <div class="col-sm-10">
                            <input type="date" id="viewCardDueDateDateTime" class="form-control"/>
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <legend class="col-form-label-sm col-sm-2 pt-0">Priority</legend>
                        <div class="col-sm-10">
                            <div class="form-check-sm">
                                <input class="form-check-input" type="radio" name="priority" id="noPriority" value="@((int)Priority.None)" checked>
                                <label class="form-check-label" for="noPriority">None</label>
                            </div>
                            <div class="form-check-sm">
                                <input class="form-check-input" type="radio" name="priority" id="lowPriority" value="@((int)Priority.Low)">
                                <label class="form-check-label" for="lowPriority">Low</label>
                            </div>
                            <div class="form-check-sm">
                                <input class="form-check-input" type="radio" name="priority" id="medPriority" value="@((int)Priority.Medium)">
                                <label class="form-check-label" for="medPriority">Medium</label>
                            </div>
                            <div class="form-check-sm">
                                <input class="form-check-input" type="radio" name="priority" id="highPriority" value="@((int)Priority.High)">
                                <label class="form-check-label" for="highPriority">High</label>
                            </div>
                        </div>
                    </fieldset>
                    @if(Model.PaymentTier >= PaymentTier.Plus)
                    {
                        <div class="row mb-3">
                            <legend class="col-form-label-sm">Milestone</legend>
                            <div class="col-sm-10">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="milestone"></select>
                            </div>
                        </div>
                    }
                    <button type="button" class="btn ps-btn-primary" id="editCardSaveContentBtn">Save Content</button>
                </form>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn ps-btn-info btn-outline-dark" id="editCardBtn"><i class="bi bi-pen"></i> Edit Card</button>
                    <button type="button" class="btn ps-btn-danger" id="archiveCardBtn"><i class="bi bi-archive"></i> Archive</button>
                    <button type="button" class="btn ps-btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>